// GENERAL
* {
  box-sizing: border-box;
}

body {
  width: 340px;
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #d8d8d8;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// TAB STRUCTURE
.popup {
  &__wrap-inner {
    padding: 20px 15px;
  }

  &__wrap {
    position: relative;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: visibility, opacity 1s;

    &.is-active {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &__tabs {
    display: flex;
  }

  &__tab {
    flex: 1;

    a {
      width: 100%;
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;
      color: #222;
      background-color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }

    &.is-active {
      a {
        color: #222;
        background-color: transparent;
      }
    }
  }
}

// INPUT WITH LABELS
.popup {
  &__label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
  }

  &__field {
    margin-bottom: 15px;
    color: #222;
  }

  &__value {
    border: 1px solid #979797;
    background-color: #fff;
    padding: 5px 10px;
    color: #222;
    display: block;
    width: 100%;
    min-height: 30px;
    font-size: 13px;
    max-height: 80px;
    overflow: auto;

    &.not-valid {
      border-color: red;
    }

    &:focus {
      outline: 0;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
    }
  }
}

// BUTTONS
.popup {
  &__button-wrap {
    text-align: right;
    margin-top: 10px;
  }

  &__button {
    background-color: #5b55bc;
    color: #fff;
    box-shadow: none;
    padding: 7px 10px;
    min-width: 100px;
    cursor: pointer;
    border: 2px solid #5b55bc;
    transition: 0.35s;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover {
      color: #5b55bc;
      background-color: transparent;
    }
  }
}

// IMAGE LIST
.popup {
  &__images-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 20px;
  }

  &__images-item {
    flex: 1 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    min-width: 25%;
    max-width: 33.33%;
  }

  &__image {
    position: relative;
    padding-bottom: 100%;
    background-color: #fff;
    transition: 0.35s;

    &.is-active {
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.8);
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image-alt {
    position: absolute;
    background-color: #222;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    font-size: 10px;
    max-width: 300px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s;

    .popup__image:hover & {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      content: "";
      display: inline-block;
      border: 5px solid #222;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}

// PROFILES
.profiles {
  &__list {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__content {
    display: none;
  }

  &__header {
    background-color: #fff;
    padding: 5px 70px 5px 10px;
    position: relative;
    line-height: 1.34;
  }

  &__content {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }

  &__delete,
  &__edit {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    text-decoration: none;
    transition: 0.35s;

    &:hover {
      background-color: #222;
    }
  }

  &__delete {
    color: #fff;
    background-color: #c10000;
    right: 0;
  }

  &__edit {
    background: url(../icons/edit.png) #5b55bc no-repeat 50%/14px;
    right: 30px;
  }

  label {
    display: inline-block;
    margin-bottom: 4px;
  }

  &__fields {
    margin-bottom: 10px;
    font-size: 13px;
  }

  &__update {
    display: inline-block;
    color: #222;
    font-weight: 600;
  }
}
